<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户表管理</title>
<link href="<%=request.getContextPath()%>/res/sys/css/default.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="blk c">
	<h2>编辑用户表</h2>
	<div class="c">
    	<form id="sysUserForm" method="post">
		
		<input type="hidden" id="USERID" name="USERID" value="${ sysUser.USERID }" />
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pmsTable">
	        <tr>
				<td class="ftit">主键:</td>
				<td><input  id="userId"  name="userId"  value="${ sysUser.userId }" type="text"  ></td>
			
				<td class="ftit">登录名:</td>
				<td><input  id="loginName"  name="loginName"  value="${ sysUser.loginName }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">登录密码:</td>
				<td><input  id="loginPwd"  name="loginPwd"  value="${ sysUser.loginPwd }" type="text"  ></td>
			
				<td class="ftit">用户真实姓名名:</td>
				<td><input  id="userName"  name="userName"  value="${ sysUser.userName }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">状态.0: 正常,1:冻结,2：删除:</td>
				<td><input  id="status"  name="status"  value="${ sysUser.status }" type="text"  ></td>
			
				<td class="ftit">最后登录时间:</td>
				<td><input  id="lastLoginTime"  name="lastLoginTime"  value="${ sysUser.lastLoginTime }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">最后登录IP:</td>
				<td><input  id="lastLoginIp"  name="lastLoginIp"  value="${ sysUser.lastLoginIp }" type="text"  ></td>
			
				<td class="ftit">创建时间:</td>
				<td><input  id="createTime"  name="createTime"  value="${ sysUser.createTime }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">邮件地址:</td>
				<td><input  id="email"  name="email"  value="${ sysUser.email }" type="text"  ></td>
			
				<td class="ftit">手机号码:</td>
				<td><input  id="tel"  name="tel"  value="${ sysUser.tel }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">所属角色ID:</td>
				<td><input  id="roleId"  name="roleId"  value="${ sysUser.roleId }" type="text"  ></td>
				</tr>
			<!-- 
			<span>*</span>
			class="easyui-validatebox" data-options="required:true"
			<tr>
              <td colspan="2" class="fctrl">
                <input type="submit" value="提交" id="Button1" class="l-button" /> 
                <input type="button" value="取消" class="l-button" onclick="JP.f_cancel()"/>      
              </td>
            </tr>
			-->
            
        </table>
        </form>
	</div>
</div>
</body>
</html>