<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>课程章节管理</title>
<link href="<%=request.getContextPath()%>/res/sys/css/default.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="blk c">
	<h2>编辑课程章节</h2>
	<div class="c">
    	<form id="eduCourseKpointForm" method="post">
		
		<input type="hidden" id="KPOINTID" name="KPOINTID" value="${ eduCourseKpoint.KPOINTID }" />
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pmsTable">
	        <tr>
				<td class="ftit">:</td>
				<td><input  id="kpointId"  name="kpointId"  value="${ eduCourseKpoint.kpointId }" type="text"  ></td>
			
				<td class="ftit">课程id:</td>
				<td><input  id="courseId"  name="courseId"  value="${ eduCourseKpoint.courseId }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">节点名称:</td>
				<td><input  id="name"  name="name"  value="${ eduCourseKpoint.name }" type="text"  ></td>
			
				<td class="ftit">父级ID:</td>
				<td><input  id="parentId"  name="parentId"  value="${ eduCourseKpoint.parentId }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">添加时间:</td>
				<td><input  id="addTime"  name="addTime"  value="${ eduCourseKpoint.addTime }" type="text"  ></td>
			
				<td class="ftit">显示排序:</td>
				<td><input  id="sort"  name="sort"  value="${ eduCourseKpoint.sort }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">播放次数:</td>
				<td><input  id="playCount"  name="playCount"  value="${ eduCourseKpoint.playCount }" type="text"  ></td>
			
				<td class="ftit">是否可以试听1免费2收费:</td>
				<td><input  id="isFree"  name="isFree"  value="${ eduCourseKpoint.isFree }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">视频地址:</td>
				<td><input  id="videoUrl"  name="videoUrl"  value="${ eduCourseKpoint.videoUrl }" type="text"  ></td>
			
				<td class="ftit">讲师id:</td>
				<td><input  id="teacherId"  name="teacherId"  value="${ eduCourseKpoint.teacherId }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">播放时间:</td>
				<td><input  id="playTime"  name="playTime"  value="${ eduCourseKpoint.playTime }" type="text"  ></td>
			
				<td class="ftit">节点类型 0文件目录 1视频:</td>
				<td><input  id="kpointType"  name="kpointType"  value="${ eduCourseKpoint.kpointType }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">视频类型:</td>
				<td><input  id="videoType"  name="videoType"  value="${ eduCourseKpoint.videoType }" type="text"  ></td>
			
				<td class="ftit">VIDEO视频 AUDIO音频 FILE文档 TXT文本 ATLAS图片集:</td>
				<td><input  id="fileType"  name="fileType"  value="${ eduCourseKpoint.fileType }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">文本:</td>
				<td><input  id="content"  name="content"  value="${ eduCourseKpoint.content }" type="text"  ></td>
				</tr>
			<!-- 
			<span>*</span>
			class="easyui-validatebox" data-options="required:true"
			<tr>
              <td colspan="2" class="fctrl">
                <input type="submit" value="提交" id="Button1" class="l-button" /> 
                <input type="button" value="取消" class="l-button" onclick="JP.f_cancel()"/>      
              </td>
            </tr>
			-->
            
        </table>
        </form>
	</div>
</div>
</body>
</html>