<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzit.project.dao.EduCourseFavoritesDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.yzit.project.entity.EduCourseFavorites" >
    	<result column="id" property="id"/>
    	<result column="course_id" property="courseId"/>
    	<result column="user_id" property="userId"/>
    	<result column="add_time" property="addTime"/>
</resultMap>
<!-- $!{tableName} table all fields -->
<sql id="Base_Column_List" >
	 id,course_id,user_id,add_time
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id = #{id}
	</if>
	<if test="courseId != null" >
	    and course_id = #{courseId}
	</if>
	<if test="userId != null" >
	    and user_id = #{userId}
	</if>
	<if test="addTime != null" >
	    and add_time = #{addTime}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="save" parameterType="com.yzit.project.entity.EduCourseFavorites" >
  insert into edu_course_favorites(id,course_id,user_id,add_time)
 values(#{id},#{courseId},#{userId},#{addTime})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="com.yzit.project.entity.EduCourseFavorites" >
  update edu_course_favorites set id=#{id},course_id=#{courseId},user_id=#{userId}add_time=#{addTime} where ID=#{ID}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="com.yzit.project.entity.EduCourseFavorites" >
	update edu_course_favorites set 
	<trim  suffixOverrides="," >
	<if test="courseId != null  ">
		course_id=#{courseId},
	</if>
	<if test="userId != null  ">
		user_id=#{userId},
	</if>
	<if test="addTime != null  ">
		add_time=#{addTime},
	</if>
	</trim> where ID=#{ID}
	
	
	
</update>

<!-- 删除记录 -->
<delete id="delById" parameterType="java.lang.Long">
	delete from edu_course_favorites where  ID =#{ID}
</delete>
 
<!-- 根据id查询 收藏课程 -->
<select id="findById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List"/>
	from edu_course_favorites  where  ID = #{ID}
</select>

<!-- 检索所有的记录 -->
<select id="findAll"  resultMap="BaseResultMap" >
	select 
	<include refid="Base_Column_List"/>
	from edu_course_favorites 
</select>

<!-- 收藏课程 列表总数-->
<select id="findByCount" resultType="java.lang.Long"  parameterType="com.yzit.project.entity.EduCourseFavorites">
	select count(1) from edu_course_favorites 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询收藏课程列表 -->
<select id="findByList" resultMap="BaseResultMap"  parameterType="com.yzit.project.entity.EduCourseFavorites">
	select 
	<include refid="Base_Column_List"/>
	from edu_course_favorites 
	<include refid="Example_Where_Clause"/>
	<!--  limit  #{startIndex} ,#{pageSize} -->
</select>
  	
</mapper>   
