<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzit.project.dao.EduMsgReceiveDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.yzit.project.entity.EduMsgReceive" >
    	<result column="id" property="id"/>
    	<result column="add_time" property="addTime"/>
    	<result column="cus_id" property="cusId"/>
    	<result column="update_time" property="updateTime"/>
    	<result column="content" property="content"/>
    	<result column="type" property="type"/>
    	<result column="status" property="status"/>
    	<result column="receiving_cusid" property="receivingCusid"/>
    	<result column="group_id" property="groupId"/>
    	<result column="showname" property="showname"/>
</resultMap>
<!-- $!{tableName} table all fields -->
<sql id="Base_Column_List" >
	 id,add_time,cus_id,update_time,content,type,status,receiving_cusid,group_id,showname
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id = #{id}
	</if>
	<if test="addTime != null" >
	    and add_time = #{addTime}
	</if>
	<if test="cusId != null" >
	    and cus_id = #{cusId}
	</if>
	<if test="updateTime != null" >
	    and update_time = #{updateTime}
	</if>
	<if test="content != null" >
	    and content = #{content}
	</if>
	<if test="type != null" >
	    and type = #{type}
	</if>
	<if test="status != null" >
	    and status = #{status}
	</if>
	<if test="receivingCusid != null" >
	    and receiving_cusid = #{receivingCusid}
	</if>
	<if test="groupId != null" >
	    and group_id = #{groupId}
	</if>
	<if test="showname != null and showname != ''" >
	    and showname = #{showname}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="save" parameterType="com.yzit.project.entity.EduMsgReceive" >
  insert into edu_msg_receive(id,add_time,cus_id,update_time,content,type,status,receiving_cusid,group_id,showname)
 values(#{id},#{addTime},#{cusId},#{updateTime},#{content},#{type},#{status},#{receivingCusid},#{groupId},#{showname})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="com.yzit.project.entity.EduMsgReceive" >
  update edu_msg_receive set id=#{id},add_time=#{addTime},cus_id=#{cusId},update_time=#{updateTime},content=#{content},type=#{type},status=#{status},receiving_cusid=#{receivingCusid},group_id=#{groupId}showname=#{showname} where ID=#{ID}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="com.yzit.project.entity.EduMsgReceive" >
	update edu_msg_receive set 
	<trim  suffixOverrides="," >
	<if test="addTime != null  ">
		add_time=#{addTime},
	</if>
	<if test="cusId != null  ">
		cus_id=#{cusId},
	</if>
	<if test="updateTime != null  ">
		update_time=#{updateTime},
	</if>
	<if test="content != null  ">
		content=#{content},
	</if>
	<if test="type != null  ">
		type=#{type},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	<if test="receivingCusid != null  ">
		receiving_cusid=#{receivingCusid},
	</if>
	<if test="groupId != null  ">
		group_id=#{groupId},
	</if>
	<if test="showname != null  and showname != '' ">
		showname=#{showname},
	</if>
	</trim> where ID=#{ID}
	
	
	
</update>

<!-- 删除记录 -->
<delete id="delById" parameterType="java.lang.Long">
	delete from edu_msg_receive where  ID =#{ID}
</delete>
 
<!-- 根据id查询 接受的短信 -->
<select id="findById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List"/>
	from edu_msg_receive  where  ID = #{ID}
</select>

<!-- 检索所有的记录 -->
<select id="findAll"  resultMap="BaseResultMap" >
	select 
	<include refid="Base_Column_List"/>
	from edu_msg_receive 
</select>

<!-- 接受的短信 列表总数-->
<select id="findByCount" resultType="java.lang.Long"  parameterType="com.yzit.project.entity.EduMsgReceive">
	select count(1) from edu_msg_receive 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询接受的短信列表 -->
<select id="findByList" resultMap="BaseResultMap"  parameterType="com.yzit.project.entity.EduMsgReceive">
	select 
	<include refid="Base_Column_List"/>
	from edu_msg_receive 
	<include refid="Example_Where_Clause"/>
	<!--  limit  #{startIndex} ,#{pageSize} -->
</select>
  	
</mapper>   
