<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzit.project.dao.EduQuestionsTagRelationDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.yzit.project.entity.EduQuestionsTagRelation" >
    	<result column="id" property="id"/>
    	<result column="questions_id" property="questionsId"/>
    	<result column="questions_tag_id" property="questionsTagId"/>
</resultMap>
<!-- $!{tableName} table all fields -->
<sql id="Base_Column_List" >
	 id,questions_id,questions_tag_id
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id = #{id}
	</if>
	<if test="questionsId != null" >
	    and questions_id = #{questionsId}
	</if>
	<if test="questionsTagId != null" >
	    and questions_tag_id = #{questionsTagId}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="save" parameterType="com.yzit.project.entity.EduQuestionsTagRelation" >
  insert into edu_questions_tag_relation(id,questions_id,questions_tag_id)
 values(#{id},#{questionsId},#{questionsTagId})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="com.yzit.project.entity.EduQuestionsTagRelation" >
  update edu_questions_tag_relation set id=#{id},questions_id=#{questionsId}questions_tag_id=#{questionsTagId} where ID=#{ID}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="com.yzit.project.entity.EduQuestionsTagRelation" >
	update edu_questions_tag_relation set 
	<trim  suffixOverrides="," >
	<if test="questionsId != null  ">
		questions_id=#{questionsId},
	</if>
	<if test="questionsTagId != null  ">
		questions_tag_id=#{questionsTagId},
	</if>
	</trim> where ID=#{ID}
	
	
	
</update>

<!-- 删除记录 -->
<delete id="delById" parameterType="java.lang.Long">
	delete from edu_questions_tag_relation where  ID =#{ID}
</delete>
 
<!-- 根据id查询 问题和问题类型中间表 -->
<select id="findById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List"/>
	from edu_questions_tag_relation  where  ID = #{ID}
</select>

<!-- 检索所有的记录 -->
<select id="findAll"  resultMap="BaseResultMap" >
	select 
	<include refid="Base_Column_List"/>
	from edu_questions_tag_relation 
</select>

<!-- 问题和问题类型中间表 列表总数-->
<select id="findByCount" resultType="java.lang.Long"  parameterType="com.yzit.project.entity.EduQuestionsTagRelation">
	select count(1) from edu_questions_tag_relation 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询问题和问题类型中间表列表 -->
<select id="findByList" resultMap="BaseResultMap"  parameterType="com.yzit.project.entity.EduQuestionsTagRelation">
	select 
	<include refid="Base_Column_List"/>
	from edu_questions_tag_relation 
	<include refid="Example_Where_Clause"/>
	<!--  limit  #{startIndex} ,#{pageSize} -->
</select>
  	
</mapper>   
