<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzit.project.dao.EduStatisticsComputerDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.yzit.project.entity.EduStatisticsComputer" >
    	<result column="id" property="id"/>
    	<result column="statistics_time" property="statisticsTime"/>
    	<result column="cpu_usage" property="cpuUsage"/>
    	<result column="memory_usage" property="memoryUsage"/>
    	<result column="net_usage" property="netUsage"/>
</resultMap>
<!-- $!{tableName} table all fields -->
<sql id="Base_Column_List" >
	 id,statistics_time,cpu_usage,memory_usage,net_usage
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id = #{id}
	</if>
	<if test="statisticsTime != null" >
	    and statistics_time = #{statisticsTime}
	</if>
	<if test="cpuUsage != null and cpuUsage != ''" >
	    and cpu_usage = #{cpuUsage}
	</if>
	<if test="memoryUsage != null and memoryUsage != ''" >
	    and memory_usage = #{memoryUsage}
	</if>
	<if test="netUsage != null and netUsage != ''" >
	    and net_usage = #{netUsage}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="save" parameterType="com.yzit.project.entity.EduStatisticsComputer" >
  insert into edu_statistics_computer(id,statistics_time,cpu_usage,memory_usage,net_usage)
 values(#{id},#{statisticsTime},#{cpuUsage},#{memoryUsage},#{netUsage})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="com.yzit.project.entity.EduStatisticsComputer" >
  update edu_statistics_computer set id=#{id},statistics_time=#{statisticsTime},cpu_usage=#{cpuUsage},memory_usage=#{memoryUsage}net_usage=#{netUsage} where ID=#{ID}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="com.yzit.project.entity.EduStatisticsComputer" >
	update edu_statistics_computer set 
	<trim  suffixOverrides="," >
	<if test="statisticsTime != null  ">
		statistics_time=#{statisticsTime},
	</if>
	<if test="cpuUsage != null  and cpuUsage != '' ">
		cpu_usage=#{cpuUsage},
	</if>
	<if test="memoryUsage != null  and memoryUsage != '' ">
		memory_usage=#{memoryUsage},
	</if>
	<if test="netUsage != null  and netUsage != '' ">
		net_usage=#{netUsage},
	</if>
	</trim> where ID=#{ID}
	
	
	
</update>

<!-- 删除记录 -->
<delete id="delById" parameterType="java.lang.Long">
	delete from edu_statistics_computer where  ID =#{ID}
</delete>
 
<!-- 根据id查询 电脑统计 -->
<select id="findById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List"/>
	from edu_statistics_computer  where  ID = #{ID}
</select>

<!-- 检索所有的记录 -->
<select id="findAll"  resultMap="BaseResultMap" >
	select 
	<include refid="Base_Column_List"/>
	from edu_statistics_computer 
</select>

<!-- 电脑统计 列表总数-->
<select id="findByCount" resultType="java.lang.Long"  parameterType="com.yzit.project.entity.EduStatisticsComputer">
	select count(1) from edu_statistics_computer 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询电脑统计列表 -->
<select id="findByList" resultMap="BaseResultMap"  parameterType="com.yzit.project.entity.EduStatisticsComputer">
	select 
	<include refid="Base_Column_List"/>
	from edu_statistics_computer 
	<include refid="Example_Where_Clause"/>
	<!--  limit  #{startIndex} ,#{pageSize} -->
</select>
  	
</mapper>   
