<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzit.project.dao.EduTeacherDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.yzit.project.entity.EduTeacher" >
    	<result column="id" property="id"/>
    	<result column="name" property="name"/>
    	<result column="education" property="education"/>
    	<result column="career" property="career"/>
    	<result column="is_star" property="isStar"/>
    	<result column="pic_path" property="picPath"/>
    	<result column="status" property="status"/>
    	<result column="create_time" property="createTime"/>
    	<result column="update_time" property="updateTime"/>
    	<result column="subject_id" property="subjectId"/>
    	<result column="sort" property="sort"/>
</resultMap>
<!-- $!{tableName} table all fields -->
<sql id="Base_Column_List" >
	 id,name,education,career,is_star,pic_path,status,create_time,update_time,subject_id,sort
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id = #{id}
	</if>
	<if test="name != null and name != ''" >
	    and name = #{name}
	</if>
	<if test="education != null and education != ''" >
	    and education = #{education}
	</if>
	<if test="career != null" >
	    and career = #{career}
	</if>
	<if test="isStar != null" >
	    and is_star = #{isStar}
	</if>
	<if test="picPath != null and picPath != ''" >
	    and pic_path = #{picPath}
	</if>
	<if test="status != null" >
	    and status = #{status}
	</if>
	<if test="createTime != null" >
	    and create_time = #{createTime}
	</if>
	<if test="updateTime != null" >
	    and update_time = #{updateTime}
	</if>
	<if test="subjectId != null" >
	    and subject_id = #{subjectId}
	</if>
	<if test="sort != null" >
	    and sort = #{sort}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="save" parameterType="com.yzit.project.entity.EduTeacher" >
  insert into edu_teacher(id,name,education,career,is_star,pic_path,status,create_time,update_time,subject_id,sort)
 values(#{id},#{name},#{education},#{career},#{isStar},#{picPath},#{status},#{createTime},#{updateTime},#{subjectId},#{sort})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="com.yzit.project.entity.EduTeacher" >
  update edu_teacher set id=#{id},name=#{name},education=#{education},career=#{career},is_star=#{isStar},pic_path=#{picPath},status=#{status},create_time=#{createTime},update_time=#{updateTime},subject_id=#{subjectId}sort=#{sort} where ID=#{ID}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="com.yzit.project.entity.EduTeacher" >
	update edu_teacher set 
	<trim  suffixOverrides="," >
	<if test="name != null  and name != '' ">
		name=#{name},
	</if>
	<if test="education != null  and education != '' ">
		education=#{education},
	</if>
	<if test="career != null  ">
		career=#{career},
	</if>
	<if test="isStar != null  ">
		is_star=#{isStar},
	</if>
	<if test="picPath != null  and picPath != '' ">
		pic_path=#{picPath},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	<if test="updateTime != null  ">
		update_time=#{updateTime},
	</if>
	<if test="subjectId != null  ">
		subject_id=#{subjectId},
	</if>
	<if test="sort != null  ">
		sort=#{sort},
	</if>
	</trim> where ID=#{ID}
	
	
	
</update>

<!-- 删除记录 -->
<delete id="delById" parameterType="java.lang.Long">
	delete from edu_teacher where  ID =#{ID}
</delete>
 
<!-- 根据id查询 教师表 -->
<select id="findById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List"/>
	from edu_teacher  where  ID = #{ID}
</select>

<!-- 检索所有的记录 -->
<select id="findAll"  resultMap="BaseResultMap" >
	select 
	<include refid="Base_Column_List"/>
	from edu_teacher 
</select>

<!-- 教师表 列表总数-->
<select id="findByCount" resultType="java.lang.Long"  parameterType="com.yzit.project.entity.EduTeacher">
	select count(1) from edu_teacher 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询教师表列表 -->
<select id="findByList" resultMap="BaseResultMap"  parameterType="com.yzit.project.entity.EduTeacher">
	select 
	<include refid="Base_Column_List"/>
	from edu_teacher 
	<include refid="Example_Where_Clause"/>
	<!--  limit  #{startIndex} ,#{pageSize} -->
</select>
  	
</mapper>   
