<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzit.project.dao.EduWebsiteNavigateDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.yzit.project.entity.EduWebsiteNavigate" >
    	<result column="id" property="id"/>
    	<result column="name" property="name"/>
    	<result column="url" property="url"/>
    	<result column="newpage" property="newpage"/>
    	<result column="type" property="type"/>
    	<result column="ordernum" property="ordernum"/>
    	<result column="status" property="status"/>
</resultMap>
<!-- $!{tableName} table all fields -->
<sql id="Base_Column_List" >
	 id,name,url,newpage,type,ordernum,status
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id = #{id}
	</if>
	<if test="name != null and name != ''" >
	    and name = #{name}
	</if>
	<if test="url != null and url != ''" >
	    and url = #{url}
	</if>
	<if test="newpage != null" >
	    and newpage = #{newpage}
	</if>
	<if test="type != null and type != ''" >
	    and type = #{type}
	</if>
	<if test="ordernum != null" >
	    and ordernum = #{ordernum}
	</if>
	<if test="status != null" >
	    and status = #{status}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="save" parameterType="com.yzit.project.entity.EduWebsiteNavigate" >
  insert into edu_website_navigate(id,name,url,newpage,type,ordernum,status)
 values(#{id},#{name},#{url},#{newpage},#{type},#{ordernum},#{status})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="com.yzit.project.entity.EduWebsiteNavigate" >
  update edu_website_navigate set id=#{id},name=#{name},url=#{url},newpage=#{newpage},type=#{type},ordernum=#{ordernum}status=#{status} where ID=#{ID}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="com.yzit.project.entity.EduWebsiteNavigate" >
	update edu_website_navigate set 
	<trim  suffixOverrides="," >
	<if test="name != null  and name != '' ">
		name=#{name},
	</if>
	<if test="url != null  and url != '' ">
		url=#{url},
	</if>
	<if test="newpage != null  ">
		newpage=#{newpage},
	</if>
	<if test="type != null  and type != '' ">
		type=#{type},
	</if>
	<if test="ordernum != null  ">
		ordernum=#{ordernum},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	</trim> where ID=#{ID}
	
	
	
</update>

<!-- 删除记录 -->
<delete id="delById" parameterType="java.lang.Long">
	delete from edu_website_navigate where  ID =#{ID}
</delete>
 
<!-- 根据id查询 网站链接导航 -->
<select id="findById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List"/>
	from edu_website_navigate  where  ID = #{ID}
</select>

<!-- 检索所有的记录 -->
<select id="findAll"  resultMap="BaseResultMap" >
	select 
	<include refid="Base_Column_List"/>
	from edu_website_navigate 
</select>

<!-- 网站链接导航 列表总数-->
<select id="findByCount" resultType="java.lang.Long"  parameterType="com.yzit.project.entity.EduWebsiteNavigate">
	select count(1) from edu_website_navigate 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询网站链接导航列表 -->
<select id="findByList" resultMap="BaseResultMap"  parameterType="com.yzit.project.entity.EduWebsiteNavigate">
	select 
	<include refid="Base_Column_List"/>
	from edu_website_navigate 
	<include refid="Example_Where_Clause"/>
	<!--  limit  #{startIndex} ,#{pageSize} -->
</select>
  	
</mapper>   
