<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzit.project.dao.EduWebsiteCourseDetailDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.yzit.project.entity.EduWebsiteCourseDetail" >
    	<result column="id" property="id"/>
    	<result column="recommend_id" property="recommendId"/>
    	<result column="course_id" property="courseId"/>
    	<result column="order_num" property="orderNum"/>
</resultMap>
<!-- $!{tableName} table all fields -->
<sql id="Base_Column_List" >
	 id,recommend_id,course_id,order_num
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id = #{id}
	</if>
	<if test="recommendId != null" >
	    and recommend_id = #{recommendId}
	</if>
	<if test="courseId != null" >
	    and course_id = #{courseId}
	</if>
	<if test="orderNum != null" >
	    and order_num = #{orderNum}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="save" parameterType="com.yzit.project.entity.EduWebsiteCourseDetail" >
  insert into edu_website_course_detail(id,recommend_id,course_id,order_num)
 values(#{id},#{recommendId},#{courseId},#{orderNum})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="com.yzit.project.entity.EduWebsiteCourseDetail" >
  update edu_website_course_detail set id=#{id},recommend_id=#{recommendId},course_id=#{courseId}order_num=#{orderNum} where ID=#{ID}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="com.yzit.project.entity.EduWebsiteCourseDetail" >
	update edu_website_course_detail set 
	<trim  suffixOverrides="," >
	<if test="recommendId != null  ">
		recommend_id=#{recommendId},
	</if>
	<if test="courseId != null  ">
		course_id=#{courseId},
	</if>
	<if test="orderNum != null  ">
		order_num=#{orderNum},
	</if>
	</trim> where ID=#{ID}
	
	
	
</update>

<!-- 删除记录 -->
<delete id="delById" parameterType="java.lang.Long">
	delete from edu_website_course_detail where  ID =#{ID}
</delete>
 
<!-- 根据id查询 课程网站链接细节 -->
<select id="findById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List"/>
	from edu_website_course_detail  where  ID = #{ID}
</select>

<!-- 检索所有的记录 -->
<select id="findAll"  resultMap="BaseResultMap" >
	select 
	<include refid="Base_Column_List"/>
	from edu_website_course_detail 
</select>

<!-- 课程网站链接细节 列表总数-->
<select id="findByCount" resultType="java.lang.Long"  parameterType="com.yzit.project.entity.EduWebsiteCourseDetail">
	select count(1) from edu_website_course_detail 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询课程网站链接细节列表 -->
<select id="findByList" resultMap="BaseResultMap"  parameterType="com.yzit.project.entity.EduWebsiteCourseDetail">
	select 
	<include refid="Base_Column_List"/>
	from edu_website_course_detail 
	<include refid="Example_Where_Clause"/>
	<!--  limit  #{startIndex} ,#{pageSize} -->
</select>
  	
</mapper>   
