<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzit.project.dao.SysSubjectDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.yzit.project.entity.SysSubject" >
    	<result column="subject_id" property="subjectId"/>
    	<result column="subject_name" property="subjectName"/>
    	<result column="status" property="status"/>
    	<result column="create_time" property="createTime"/>
    	<result column="parent_id" property="parentId"/>
    	<result column="sort" property="sort"/>
</resultMap>
<!-- $!{tableName} table all fields -->
<sql id="Base_Column_List" >
	 subject_id,subject_name,status,create_time,parent_id,sort
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="subjectId != null" >
	    and subject_id = #{subjectId}
	</if>
	<if test="subjectName != null and subjectName != ''" >
	    and subject_name = #{subjectName}
	</if>
	<if test="status != null" >
	    and status = #{status}
	</if>
	<if test="createTime != null" >
	    and create_time = #{createTime}
	</if>
	<if test="parentId != null" >
	    and parent_id = #{parentId}
	</if>
	<if test="sort != null" >
	    and sort = #{sort}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="save" parameterType="com.yzit.project.entity.SysSubject" >
  insert into sys_subject(subject_id,subject_name,status,create_time,parent_id,sort)
 values(#{subjectId},#{subjectName},#{status},#{createTime},#{parentId},#{sort})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="com.yzit.project.entity.SysSubject" >
  update sys_subject set subject_id=#{subjectId},subject_name=#{subjectName},status=#{status},create_time=#{createTime},parent_id=#{parentId}sort=#{sort} where SUBJECT_ID=#{SUBJECTID}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="com.yzit.project.entity.SysSubject" >
	update sys_subject set 
	<trim  suffixOverrides="," >
	<if test="subjectName != null  and subjectName != '' ">
		subject_name=#{subjectName},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	<if test="parentId != null  ">
		parent_id=#{parentId},
	</if>
	<if test="sort != null  ">
		sort=#{sort},
	</if>
	</trim> where SUBJECT_ID=#{SUBJECTID}
	
	
	
</update>

<!-- 删除记录 -->
<delete id="delById" parameterType="java.lang.Long">
	delete from sys_subject where  SUBJECT_ID =#{SUBJECTID}
</delete>
 
<!-- 根据id查询 科目 -->
<select id="findById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List"/>
	from sys_subject  where  SUBJECT_ID = #{SUBJECTID}
</select>

<!-- 检索所有的记录 -->
<select id="findAll"  resultMap="BaseResultMap" >
	select 
	<include refid="Base_Column_List"/>
	from sys_subject 
</select>

<!-- 科目 列表总数-->
<select id="findByCount" resultType="java.lang.Long"  parameterType="com.yzit.project.entity.SysSubject">
	select count(1) from sys_subject 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询科目列表 -->
<select id="findByList" resultMap="BaseResultMap"  parameterType="com.yzit.project.entity.SysSubject">
	select 
	<include refid="Base_Column_List"/>
	from sys_subject 
	<include refid="Example_Where_Clause"/>
	<!--  limit  #{startIndex} ,#{pageSize} -->
</select>
  	
</mapper>   
