<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzit.project.dao.SysUserDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.yzit.project.entity.SysUser" >
    	<result column="user_id" property="userId"/>
    	<result column="login_name" property="loginName"/>
    	<result column="login_pwd" property="loginPwd"/>
    	<result column="user_name" property="userName"/>
    	<result column="status" property="status"/>
    	<result column="last_login_time" property="lastLoginTime"/>
    	<result column="last_login_ip" property="lastLoginIp"/>
    	<result column="create_time" property="createTime"/>
    	<result column="email" property="email"/>
    	<result column="tel" property="tel"/>
    	<result column="role_id" property="roleId"/>
</resultMap>
<!-- $!{tableName} table all fields -->
<sql id="Base_Column_List" >
	 user_id,login_name,login_pwd,user_name,status,last_login_time,last_login_ip,create_time,email,tel,role_id
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="userId != null" >
	    and user_id = #{userId}
	</if>
	<if test="loginName != null and loginName != ''" >
	    and login_name = #{loginName}
	</if>
	<if test="loginPwd != null and loginPwd != ''" >
	    and login_pwd = #{loginPwd}
	</if>
	<if test="userName != null and userName != ''" >
	    and user_name = #{userName}
	</if>
	<if test="status != null" >
	    and status = #{status}
	</if>
	<if test="lastLoginTime != null" >
	    and last_login_time = #{lastLoginTime}
	</if>
	<if test="lastLoginIp != null and lastLoginIp != ''" >
	    and last_login_ip = #{lastLoginIp}
	</if>
	<if test="createTime != null" >
	    and create_time = #{createTime}
	</if>
	<if test="email != null and email != ''" >
	    and email = #{email}
	</if>
	<if test="tel != null and tel != ''" >
	    and tel = #{tel}
	</if>
	<if test="roleId != null" >
	    and role_id = #{roleId}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="save" parameterType="com.yzit.project.entity.SysUser" >
  insert into sys_user(user_id,login_name,login_pwd,user_name,status,last_login_time,last_login_ip,create_time,email,tel,role_id)
 values(#{userId},#{loginName},#{loginPwd},#{userName},#{status},#{lastLoginTime},#{lastLoginIp},#{createTime},#{email},#{tel},#{roleId})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="com.yzit.project.entity.SysUser" >
  update sys_user set user_id=#{userId},login_name=#{loginName},login_pwd=#{loginPwd},user_name=#{userName},status=#{status},last_login_time=#{lastLoginTime},last_login_ip=#{lastLoginIp},create_time=#{createTime},email=#{email},tel=#{tel}role_id=#{roleId} where USER_ID=#{USERID}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="com.yzit.project.entity.SysUser" >
	update sys_user set 
	<trim  suffixOverrides="," >
	<if test="loginName != null  and loginName != '' ">
		login_name=#{loginName},
	</if>
	<if test="loginPwd != null  and loginPwd != '' ">
		login_pwd=#{loginPwd},
	</if>
	<if test="userName != null  and userName != '' ">
		user_name=#{userName},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	<if test="lastLoginTime != null  ">
		last_login_time=#{lastLoginTime},
	</if>
	<if test="lastLoginIp != null  and lastLoginIp != '' ">
		last_login_ip=#{lastLoginIp},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	<if test="email != null  and email != '' ">
		email=#{email},
	</if>
	<if test="tel != null  and tel != '' ">
		tel=#{tel},
	</if>
	<if test="roleId != null  ">
		role_id=#{roleId},
	</if>
	</trim> where USER_ID=#{USERID}
	
	
	
</update>

<!-- 删除记录 -->
<delete id="delById" parameterType="java.lang.Long">
	delete from sys_user where  USER_ID =#{USERID}
</delete>
 
<!-- 根据id查询 用户表 -->
<select id="findById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List"/>
	from sys_user  where  USER_ID = #{USERID}
</select>

<!-- 检索所有的记录 -->
<select id="findAll"  resultMap="BaseResultMap" >
	select 
	<include refid="Base_Column_List"/>
	from sys_user 
</select>

<!-- 用户表 列表总数-->
<select id="findByCount" resultType="java.lang.Long"  parameterType="com.yzit.project.entity.SysUser">
	select count(1) from sys_user 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询用户表列表 -->
<select id="findByList" resultMap="BaseResultMap"  parameterType="com.yzit.project.entity.SysUser">
	select 
	<include refid="Base_Column_List"/>
	from sys_user 
	<include refid="Example_Where_Clause"/>
	<!--  limit  #{startIndex} ,#{pageSize} -->
</select>
  	
</mapper>   
