<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户表管理</title>
<link href="<%=request.getContextPath()%>/res/sys/css/default.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="blk c">
	<h2>编辑用户表</h2>
	<div class="c">
    	<form id="eduUserForm" method="post">
		
		<input type="hidden" id="USERID" name="USERID" value="${ eduUser.USERID }" />
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pmsTable">
	        <tr>
				<td class="ftit">学员ID:</td>
				<td><input  id="userId"  name="userId"  value="${ eduUser.userId }" type="text"  ></td>
			
				<td class="ftit">手机号:</td>
				<td><input  id="mobile"  name="mobile"  value="${ eduUser.mobile }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">邮箱号:</td>
				<td><input  id="email"  name="email"  value="${ eduUser.email }" type="text"  ></td>
			
				<td class="ftit">密码:</td>
				<td><input  id="password"  name="password"  value="${ eduUser.password }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">用户名:</td>
				<td><input  id="userName"  name="userName"  value="${ eduUser.userName }" type="text"  ></td>
			
				<td class="ftit">显示名 （昵称）:</td>
				<td><input  id="showName"  name="showName"  value="${ eduUser.showName }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">性别  1男  2女:</td>
				<td><input  id="sex"  name="sex"  value="${ eduUser.sex }" type="text"  ></td>
			
				<td class="ftit">年龄:</td>
				<td><input  id="age"  name="age"  value="${ eduUser.age }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">注册时间:</td>
				<td><input  id="createTime"  name="createTime"  value="${ eduUser.createTime }" type="text"  ></td>
			
				<td class="ftit">是否可用 1正常  2冻结:</td>
				<td><input  id="isAvalible"  name="isAvalible"  value="${ eduUser.isAvalible }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">用户头像:</td>
				<td><input  id="picImg"  name="picImg"  value="${ eduUser.picImg }" type="text"  ></td>
			
				<td class="ftit">个人中心用户背景图片:</td>
				<td><input  id="bannerUrl"  name="bannerUrl"  value="${ eduUser.bannerUrl }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">站内信未读消息数:</td>
				<td><input  id="msgNum"  name="msgNum"  value="${ eduUser.msgNum }" type="text"  ></td>
			
				<td class="ftit">:</td>
				<td><input  id="sysMsgNum"  name="sysMsgNum"  value="${ eduUser.sysMsgNum }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">上传统计系统消息时间:</td>
				<td><input  id="lastSystemTime"  name="lastSystemTime"  value="${ eduUser.lastSystemTime }" type="text"  ></td>
				</tr>
			<!-- 
			<span>*</span>
			class="easyui-validatebox" data-options="required:true"
			<tr>
              <td colspan="2" class="fctrl">
                <input type="submit" value="提交" id="Button1" class="l-button" /> 
                <input type="button" value="取消" class="l-button" onclick="JP.f_cancel()"/>      
              </td>
            </tr>
			-->
            
        </table>
        </form>
	</div>
</div>
</body>
</html>