<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>课程网站链接管理</title>
<link href="<%=request.getContextPath()%>/res/sys/css/default.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="blk c">
	<h2>编辑课程网站链接</h2>
	<div class="c">
    	<form id="eduWebsiteCourseForm" method="post">
		
		<input type="hidden" id="ID" name="ID" value="${ eduWebsiteCourse.ID }" />
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pmsTable">
	        <tr>
				<td class="ftit">:</td>
				<td><input  id="id"  name="id"  value="${ eduWebsiteCourse.id }" type="text"  ></td>
			
				<td class="ftit">推荐模块名称:</td>
				<td><input  id="name"  name="name"  value="${ eduWebsiteCourse.name }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">点击更多链接:</td>
				<td><input  id="link"  name="link"  value="${ eduWebsiteCourse.link }" type="text"  ></td>
			
				<td class="ftit">说明:</td>
				<td><input  id="description"  name="description"  value="${ eduWebsiteCourse.description }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">推荐课程限制数量:</td>
				<td><input  id="coursenum"  name="coursenum"  value="${ eduWebsiteCourse.coursenum }" type="text"  ></td>
				</tr>
			<!-- 
			<span>*</span>
			class="easyui-validatebox" data-options="required:true"
			<tr>
              <td colspan="2" class="fctrl">
                <input type="submit" value="提交" id="Button1" class="l-button" /> 
                <input type="button" value="取消" class="l-button" onclick="JP.f_cancel()"/>      
              </td>
            </tr>
			-->
            
        </table>
        </form>
	</div>
</div>
</body>
</html>