<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> 登录日志管理</title>
<link href="<%=request.getContextPath()%>/res/sys/css/default.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="blk c">
	<h2>编辑 登录日志</h2>
	<div class="c">
    	<form id="sysLoginLogForm" method="post">
		
		<input type="hidden" id="LOGID" name="LOGID" value="${ sysLoginLog.LOGID }" />
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pmsTable">
	        <tr>
				<td class="ftit">:</td>
				<td><input  id="logId"  name="logId"  value="${ sysLoginLog.logId }" type="text"  ></td>
			
				<td class="ftit">登录时间:</td>
				<td><input  id="loginTime"  name="loginTime"  value="${ sysLoginLog.loginTime }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">登录IP:</td>
				<td><input  id="ip"  name="ip"  value="${ sysLoginLog.ip }" type="text"  ></td>
			
				<td class="ftit">用户ID:</td>
				<td><input  id="userId"  name="userId"  value="${ sysLoginLog.userId }" type="text"  ></td>
			</tr>
			<tr>
				<td class="ftit">操作系统:</td>
				<td><input  id="osName"  name="osName"  value="${ sysLoginLog.osName }" type="text"  ></td>
			
				<td class="ftit">浏览器:</td>
				<td><input  id="userAgent"  name="userAgent"  value="${ sysLoginLog.userAgent }" type="text"  ></td>
			</tr>
			<tr>
			<!-- 
			<span>*</span>
			class="easyui-validatebox" data-options="required:true"
			<tr>
              <td colspan="2" class="fctrl">
                <input type="submit" value="提交" id="Button1" class="l-button" /> 
                <input type="button" value="取消" class="l-button" onclick="JP.f_cancel()"/>      
              </td>
            </tr>
			-->
            
        </table>
        </form>
	</div>
</div>
</body>
</html>